/** Website template by freewebsitetemplates.com **/
body { 
    margin:0;
    padding:0;
    font-family: Times New Roman; 
    font-size: 14px; 
    line-height: 25px; 
    color:#00009C; 
    text-align: justify; 
    background-image:url('../images/bg-body.gif');  
}


#background{
    background-image:url('../images/bg-page-top-curve.jpg');  
    background-repeat:no-repeat;
    background-position:top center;
}

#page{
    width:950px;
    margin:0 auto;
    padding: 0 5px;
}

#page .header{
    padding: 78px 0 0 0;
}

#page .header .footer{
    background-image:url('../images/bg-page-bottom-curve.jpg');  
    background-repeat:no-repeat;
    background-position:bottom center;
    padding: 0 0 5px 0;
}

#page .header .footer .body{
    background-image:url('../images/bg-page.jpg');  
    width:950px;
    overflow:hidden; 
}


#page .shadow{
    background-image:url('../images/bottom-shadow.jpg');  
    background-repeat:no-repeat;
    background-position: center;
    height:35px;
}




/** Start of Sidebar style **/	
#page .header .footer .body #sidebar{
    width:211px;
    float:left;
}
#page .header .footer .body #sidebar img#logo{
    border:0;
    margin:20px 0 20px 20px;
}	


/** start style navitagion style**/

#page .header .footer .body #sidebar ul.navigation{
    margin:0 0  50px 8px;
    padding:5px 0 0 0;
    list-style-type:none; 
    background-image:url('../images/border-dashed.gif');  
    background-repeat:repeat-x;
    background-position:top;
    position:relative;
    width:200px;
    z-index:9990;

}


#page .header .footer .body #sidebar ul.navigation li{
    width:200px;
    height:40px;

    position:relative;
    line-height:40px;
    background-image:url('../images/menu-separator.jpg');  
    background-repeat:no-repeat;
    background-position:0 35px;

}

#page .header .footer .body #sidebar ul.navigation li.last{
    background-image:url('../images/border-dashed.gif');  
    background-repeat:repeat-x;
    background-position:bottom;
}  

#page .header .footer .body #sidebar ul.navigation li a{
    width:214px;
    height:40px;
    display:block;
    position:absolute;
    left:0;
    top:-5px;
    text-align:center;
    padding-right:10px;
    color:#999999;
    text-decoration:none;


}

#page .header .footer .body #sidebar ul.navigation li a:hover{
    width:214px;
    height:40px;
    display:block;
    position:absolute;
    color:#007FFF;
    background: url("../images/sprite.gif");
    background-repeat:no-repeat;
    background-position: 200px -228px;
    text-shadow: #FFFFFF 2px 0px 1px;
}

#page .header .footer .body #sidebar ul.navigation li.active a{
    width:214px;
    height:40px;
    display:block;
    position:absolute;
    color:#007FFF;
    background: url("../images/sprite.gif");
    background-repeat:no-repeat;
    background-position: 200px -228px;
    text-shadow: #FFFFFF 2px 0px 1px;
}

#page .header .footer .body #sidebar .connect{
    background-image:url('../images/bg-social-sites.jpg');  
    background-repeat:no-repeat;
    height:29px;
    width:186px;
    margin: 0 auto;
    padding: 5px;
    color: #999999;
    text-align: center;
    font-size: 14px;
  }

  #page .header .footer .body #sidebar .connect a{
      display:block;
      float:left;
      text-decoration:none;
      margin: 10px 10px 0 20px;
}

#page .header .footer .body #sidebar .connect a.facebook{
    background-image:url('../images/sprite.gif');  
    background-repeat:no-repeat;
    background-position: 0 0; 
    width: 25px; 
    height: 26px; 
    margin-left:20px;
}
#page .header .footer .body #sidebar .connect a.twitter{
    background-image:url('../images/sprite.gif');  
    background-repeat:no-repeat;
    background-position: 0 -76px; 
    width: 37px; 
    height: 26px;
}
#page .header .footer .body #sidebar .connect a.vimeo{
    background-image:url('../images/sprite.gif');  
    background-repeat:no-repeat;
    background-position: 0 -152px; 
    width: 32px; 
    height: 26px;
}



#page .header .footer .body #sidebar .footenote{
    width: 186px;
    margin: 0 auto;
    padding-top:50px;
}

#page .header .footer .body #sidebar .footenote span{
    color:#cccccc;
    display:block;
    font-size:14px;
    text-align:center;
 }

 #page .header .footer .body #sidebar .footenote span a{
     color:#cccccc;
     text-decoration:none;
 }
 #page .header .footer .body #sidebar .footenote span a:hover{
     color:#999999;
 }

 /** end of Sidebar style **/			


 /** Start of Content Style **/	

 #page .header .footer .body #content{
     width:739px;
     float:left;
     padding-bottom:50px;
     overflow:hidden;
}

#page .header .footer .body #content .content img{
    border:0;
}		

#page .header .footer .body #content .content{
    width:726px;
    background-image:url('../images/bg-inner-page.jpg');  
    background-repeat:repeat-y;
    float:left;
    padding-top:20px;
    padding-left:30px;
    overflow:hidden;
}

#page .header .footer .body #content .content a{
    color:#39f;
    text-decoration:none;
}

#page .header .footer .body #content .content ul li{
    padding-right:70px;
    font-style:normal;
}

ul.u {list-style-type:none;}

#page .header .footer .body #content .content ul li span{
    display:block;
    font-style:normal;
}

#page .header .footer .body #content .content ul li  a{
    color:#39f;
    text-decoration:none;
}

#page .header .footer .body #content .content ul li  a:hover{
    color:#cccccc;
}

#page .header .footer .body #content .content ul li  a span{
    display:block;
    color:#00009C;
    margin-top:20px;
    font-style:normal;
}

#page .header .footer .body #content .content ul li h2 a{
    font-family: Times New Roman; 
    color:#00009C;
    text-decoration:none;
    font-weight:bold;
}
#page .header .footer .body #content .content ul li p{
    font-family: Times New Roman; 
    font-size:14px;
    color:#00009C;
}
#page .header .footer .body #content .content ul li p a{
	font-family: Times New Roman, Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #00009C;
	text-decoration: underline;
}
#page .header .footer .body #content .content ul li p a:hover{
    font-family: Times New Roman; 
    font-size:14px;
    color:#cccccc;
}

/** Style Blog page**/
#page .header .footer .body #content .content ul.article li{
    list-style-type:none; 
    padding-right:40px;
    display:block;
    margin-bottom:30px;
    overflow:hidden;
}


#page .header .footer .body #content .content ul.article li img{
    float:left;
    margin: 0 20px 0 0;
}

#page .header .footer .body #content .content ul.article li h2{
    margin:0;
}

#page .header .footer .body #content .content ul.article li h2 a{
    font-family: Times New Roman; 
    font-size:18px;
    font-style:normal;
    color:#00009C;
    text-decoration:none;
    font-weight:bold;
}

#page .header .footer .body #content .content ul.article li h2 a:hover{
    font-family: Times New Roman; 
    font-size:18px;
    font-style:normal;
    color:#cccccc;
    text-decoration:none;
    font-weight:bold;
}

#page .header .footer .body #content .content ul.article li  a{
    font-family: Times New Roman; 
    font-size:14px;
    font-style:normal;
    color:#00009C;
    text-decoration:none;
    margin-top:20px;

}


#page .header .footer .body #content .content ul.article li a:hover{
    font-family: Times New Roman; 
    font-size:14px;
    color:#cccccc;
}

#page .header .footer .body #content .content ul.article li p{
    margin-top:0;
}

#page .header .footer .body #content .content ul.article li p{
    font-family: Times New Roman; 
    font-size:14px;
    color:#00009C;
    line-height:20px;
}
#page .header .footer .body #content .content ul.article li p a{
    font-family: Times New Roman; 
    font-size:14px;
    color:#00009C;
    text-decoration:underline;
}
#page .header .footer .body #content .content ul.article li p a:hover{
    font-family: Times New Roman; 
    font-size:14px;
    color:#cccccc;
}

/** End Style Blog Page**/



/**----------------- Start Freatured Style  --------------------**/	
#page .header .footer .body #content .featured{
    width:294px;
    position:relative;
    z-index:20px;
    margin:-473px 0 25px 432px;
    overflow:hidden;
    display:block;

}


#page .header .footer .body #content .featured  .body{
   /* background-image:url('../images/bg-slogan.jpg');  */
    background-repeat:no-repeat;
    width:272px;
    position:relative;
    z-index:40;
    top:-0px;
    height:100px;
    margin:0px;

}

#page .header .footer .body #content .featured .body p{
    padding:0 20px 0 20px;
    margin:left:0;
}

#page .header .footer .body #content .featured .body p a{
    color:#00009C;
}
#page .header .footer .body #content .featured .body p a:hover{
    color:#cccccc;
}


#page .header .footer .body #content .featured .header{
/*    background-image:url('../images/bg-heading.jpg');  */
    background-repeat:no-repeat;
    width:294px;
    height:250px;
  }

  #page .header .footer .body #content .featured .header ul{
      position:relative;
      top:-70px;
      left:0px;
      width:294px;
      margin:0;
      padding:0;
}
#page .header .footer .body #content .featured .header ul li{
    list-style-type:none; 
    float:left;
    line-height:15px;
    padding:0 10px;
  }

  #page .header .footer .body #content .featured .header ul li p{
      color:#999999;
      font-family: Times New Roman; 
      font-size:14px;
      margin-top:0px;
      height:70px;
  }

  #page .header .footer .body #content .featured .header ul li.first{
      width:70px;
      height:90px;
      float:left;
      text-align:center;
      padding-top:10px;
  }

  #page .header .footer .body #content .featured .header ul li.first p{
      color:#00009C;
      font-family: Times New Roman; 
      font-size:48px;
      margin-top:10px;
      text-align:center;
  }

  #page .header .footer .body #content .featured .header ul li.last{
      width:180px;
      height:90px;
      float:left;
  }

  #page .header .footer .body #content .featured .header ul li.last a{
      color:#999999;
  }
  #page .header .footer .body #content .featured .header ul li.last a:hover{
      color:#00009C;
  }

  #content .content p.right{
      font-family: Times New Roman; 
      font-style: normal;
      text-align:right;
      color:#00009C;
      margin-right:100px;
}

/**----------------- End Featured Style  --------------------**/			


#content .boxtag {
    bottom: 2px; 
    font-family: Times New Roman; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 90%; 
    border: 1px solid #999999; 
    border-right: 2px solid #999999;
    border-bottom: 2px solid #999999;
    padding: 1px 2px; 
    margin-right: 3px; 
}

#content .h2boxtag{
    border-bottom: 2px solid #999999;
    bottom: 2px; 
    color:#00009C;
    font-family: Times New Roman; 
    font-size:19px;
    font-style: normal; 
    font-weight:bold;
    margin-right: 3px; 
    padding: 3px 250px 3px 3px; 
    text-decoration:none;
}

/** end of Content Style **/			
